// Imports
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,400,700');
@import 'node_modules/hint.css/src/hint.scss';

// Variables
$dark1: #73777A;
$dark2: #424242;
$dark3: #1b1b1b;
$highlight1: #FFD802;
$highlight2: #00CCD6;
$light: #EFEEEF;
$light2: #d0d8dc;
$hairline: lighten(#73777A, 40);

// Styles
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: $light;
}

nav {
    position: fixed;
    top: -60px;
    width: 100%;
    height: 60px;
    background: $dark3;
    color: $light2;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0px 20px;
    font-size: 1.3rem;
    .about, .resume {
        float: right;
        font-size: 1rem;
        margin-left: 20px;
        font-weight: 200;
    }
    .badges {
        float: right;
        margin-right: 40px;
    }
    div {
        float: left;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
    }
    .last {
        font-weight: 700;
    }
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/jlsmith-back.jpg');
    color: white;
    position: relative;
    .skills {
        position: absolute;
        top: 20px;
        width: 100%;
        height: 70px;
        border-top: 1px solid grey;
    }
    .intro {
        position: absolute;
        width: 100%;
        padding: 0px 40px 20px 40px;
        top: 100px;
        width: 100%;

    }
    .quote {
        text-transform: initial;
        display: block;
        font-size: 1.4rem;
        position: relative;
        font-weight: 100;
        letter-spacing: 0.07rem;
        line-height: 1.8rem;
        margin-top: 20px;
        .fa-quote-left {
            margin-right: 10px;
        }
        .fa-quote-right {
            margin-left: 10px;
        }
        .quote-attribution {
            width: 80%;
            margin: 20px 0px 0px 80px;
            text-align: left;
            font-size: initial;
            display: block;
            font-style: italic;
            line-height: 1.2rem;
        }
    }
    
    .roles {
        width: 100%;
        padding: 40px 40px 40px 40px;
        position: absolute;
        bottom: 0px;
    }
    span {
        font-weight: 200;
        display: inline;
        font-size: 3rem;
        text-transform: uppercase;
        &.first {
            letter-spacing: 2px;
        }
        &.last {
            letter-spacing: 2px;
            font-weight: 700;
        }
        &.description {
            display: block;
            font-size: 1rem;
            margin-top: 10px;
            line-height: 1.33rem;
        }
        &.role {
            display: block;
            letter-spacing: 1px;
            font-size: 1.7rem;
            line-height: 2rem
        }
    }
}

a {
    color: skyblue;
    text-decoration: none;
    &:hover {
        color: white;
        i {
            color: white;
        }
    }
    &:visited {
        color: skyblue;
    }
    i {
        margin: 0px 10px;
        color: skyblue;
        cursor: pointer; 
    }
}

section {
    width: 100%;
    padding: 50px;
    .title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

section.quote {
    text-transform: initial;
    display: block;
    font-size: 1.4rem;
    position: relative;
    font-weight: 100;
    letter-spacing: 0.07rem;
    line-height: 1.8rem;
    background-color: $dark1;
    color: white;
    .fa-quote-left {
        margin-right: 10px;
    }
    .fa-quote-right {
        margin-left: 10px;
    }
    .quote-attribution {
        width: 100%;
        margin-top: 10px;
        text-align: right;
        font-size: initial;
        display: block;
        font-style: italic;
    }
}

section.interactives {
    padding: 20px;
    border-top: 1px solid $hairline;
    border-bottom: 1px solid $hairline;
    img {
        margin: 50px 0px;
        width:100%;
    }
    .buttons {
        margin-top: 40px;
        li {
            width: 200px;
            height: 60px;
            line-height: 60px;
            border:2px solid skyblue;
            color: black;
            text-align: center;
            list-style-type: none;
            margin: 20px auto;
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    
    
    &.active {
        background-color: white;
    }
}

